<div class="container" [ngClass]="{ 'sidebar-collapsed': !sideMenuVisible }">

  <aside class="sidebar" [ngClass]="{ 'hidden': !sideMenuVisible }">
      <app-sidebar></app-sidebar>
  </aside>

  <div class="main-content">
    <header class="main-header">
       <button class="sidebar-toggle-button" (click)="toggleSideMenu()">
          <mat-icon>menu</mat-icon>
       </button>
     
    </header>

    <div class="content-area">
       <router-outlet></router-outlet>
    </div>
  </div>

  <div class="backdrop" *ngIf="sideMenuVisible" (click)="toggleSideMenu()"></div>
</div>