<div class="dropzone-box">
  <h2>Upload CSV File</h2>
  <p>Click to upload or drag and drop</p>

  <div
    class="dropzone-area"
    [class.dropzone--over]="isDragging"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="fileInput.click()"  >
    <div class="file-upload-icon">📄</div>
    <input
      type="file"
      #fileInput
      hidden accept=".csv"
      (change)="onFileChange($event)"
    />
    <p class="file-info">{{ fileName || 'No File Selected' }}</p>
    <p *ngIf="!fileName" class="dropzone-prompt-text">Click or Drag CSV Here</p>
  </div>

  <div class="dropzone-description">
    <span>Max file size: 25MB. Accepted format: .csv</span>
  </div>

  <div class="dropzone-actions">
    <div class="action-buttons">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="button" (click)="onConfirmUpload()">Upload File</button>
    </div>
  </div>
</div>
