.transaction-container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header h2 {
  margin: 0;
  font-size: 1.8rem;
  color: #333;
}

.add-btn {
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #3e9142;
}

.table-wrapper {
  height: 61vh;
  overflow: auto;


}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

thead {
  background-color: #f1f1f1;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eaeaea;
}

.badge {
  padding: 4px 10px;
  border-radius: 12px;
  color: white;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.income {
  background-color: #4CAF50;
}

.expense {
  background-color: #f44336;
}

.savings {
  background-color: #2196F3;
}

.delete-btn {
  background: #f44336;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination {
  margin-top: 1rem;
  text-align: center;
}

.pagination button {
  background: #4F4DFE;
  color: white;
  border: none;
  padding: 6px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button[disabled] {
  background: #ccc;
  cursor: not-allowed;
}

.file-section {
  border-top: 1px solid #5aa3ac;
  text-align: center;
  
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.file-section h3 {
  margin-bottom: 1rem;
  color: #333;
}

input[type="file"] {
  margin-bottom: 1rem;
}

.download-btn {
  background-color: #4F4DFE;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}


