<div class="sidebar-content">
  <div class="logo">
    <img src="budgetlee.png" alt="Budgetlee Logo">
  </div>

  <div class="menu">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>dashboard</mat-icon>
      <h3>Dashboard</h3>
    </a>

    <a routerLink="/transactions" routerLinkActive="active">
      <mat-icon>payments</mat-icon>
      <h3>Transactions</h3>
    </a>

    <a routerLink="/profile" routerLinkActive="active">
      <mat-icon>person_outline</mat-icon>
      <h3>Profile</h3>
    </a>

    <a (click)="logout()" class="logout-link">
      <mat-icon>logout</mat-icon>
      <h3>Logout</h3>
    </a>
  </div>
</div>